In [1]:
import numpy as np
import pandas as pd

In [2]:
!wget -O Canada_Codes.html https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

--2020-03-11 22:32:18--  https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M
Resolving en.wikipedia.org (en.wikipedia.org)... 208.80.153.224, 2620:0:860:ed1a::1
Connecting to en.wikipedia.org (en.wikipedia.org)|208.80.153.224|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 78489 (77K) [text/html]
Saving to: ‘Canada_Codes.html’

100%[======================================>] 78,489      --.-K/s   in 0.006s

2020-03-11 22:32:18 (13.4 MB/s) - ‘Canada_Codes.html’ saved [78489/78489]

In [3]:
c_c0 = pd.read_html('Canada_Codes.html')
c_c = c_c0[:][0]
c_c.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
c_c.shape

(287, 3)

#### Removing rows with 'Not assigned' labels
1. In current Wikipedia version of this article there's no such situation as when there's more than 1 Neighbourhood in one postal code area

2. 'Not assigned' labels exist only in both columns: 'Borough' and 'Neighbourhood'. So there's not a single row where "a cell has a borough but a Not assigned neighborhood".

I will make a copy of this table without 'Not assigned' rows

In [5]:
c_cn = c_c[c_c.Borough != 'Not assigned']
c_cn.index = pd.Series(range(c_cn.shape[0]))
c_cn.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [6]:
c_cn.shape

(210, 3)

#### Grouping different neighbourhoods belonging to the same postalcode and marking excessive rows

In [7]:
i = 0

while i < c_cn.shape[0]:
        
        i += 1
        j = i-1
        
        while i < c_cn.shape[0] and c_cn.Postcode[i] == c_cn.Postcode[j]:
            c_cn.Neighbourhood[j] += (', ' + c_cn.Neighbourhood[i])
            c_cn.Neighbourhood[i] = 'To delete'
            i += 1
            
c_cn.tail()

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

    Postcode    Borough                                      Neighbourhood
205      M8Z  Etobicoke  Kingsway Park South West, Mimico NW, The Queen...
206      M8Z  Etobicoke                                          To delete
207      M8Z  Etobicoke                                          To delete
208      M8Z  Etobicoke                                          To delete
209      M8Z  Etobicoke                                          To delete

#### Cleaning table

In [8]:
c_c = c_cn[c_cn.Neighbourhood != 'To delete']
c_c.index = pd.Series(range(c_c.shape[0]))
c_c.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto                      Harbourfront
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A  Downtown Toronto                      Queen's Park

In [9]:
c_c.shape

(103, 3)

#### Writing results to a file that can be accessed by other notebooks

In [10]:
with open ('c_cn.csv','w') as cs:
    c_c.to_csv(cs,index = False)
c_c.shape

(103, 3)

In [11]:
c_c = pd.read_csv('c_cn.csv')
c_c.shape

(103, 3)