In [1]:
import numpy as np
import pandas as pd

In [2]:
!wget -O Canada_Codes.html https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

--2020-03-11 21:19:28--  https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M
Resolving en.wikipedia.org (en.wikipedia.org)... 208.80.153.224, 2620:0:860:ed1a::1
Connecting to en.wikipedia.org (en.wikipedia.org)|208.80.153.224|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 78489 (77K) [text/html]
Saving to: ‘Canada_Codes.html’

100%[======================================>] 78,489      --.-K/s   in 0.005s

2020-03-11 21:19:28 (14.9 MB/s) - ‘Canada_Codes.html’ saved [78489/78489]

In [3]:
c_c0 = pd.read_html('Canada_Codes.html')
c_c = c_c0[:][0]
c_c.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Important remarks:

1. In current Wikipedia version of this article there's no such situation as when there's more than 1 Neighbourhood in one postal code area

2. 'Not assigned' labels exist only in both columns: 'Borough' and 'Neighbourhood'. So there's not a single row where "a cell has a borough but a Not assigned neighborhood".

I will make a copy of this table without 'Not assigned' rows

In [4]:
c_cn = c_c[c_c.Borough != 'Not assigned']
c_cn.index = pd.Series(range(c_cn.shape[0]))
c_cn.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [5]:
with open ('c_cn.csv','w') as cs:
    c_cn.to_csv(cs,index = False)
c_cn.shape

(210, 3)

In [6]:
c_c = pd.read_csv('c_cn.csv')
c_c.shape

(210, 3)